<div class="content-container">
  <div class="sidebar">
    {{>sidebar}}
  </div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Registrar Vigilante</h3>
          </div>
          <div style="margin: 0 10px 0 10px;" class="card-body text-start">
            <form action="/minutas/editVigilante/{{users.id}}" method="POST" >
              <div class="form-group">
                <label> Nombre: </label>
                <input type="type" name="nombre" value="{{users.nombre}}" placeholder="Digite nombre" class="form-control" autofocus required>
              </div>
              <br>
              <div class="form-group">
                <label> Correo: </label>
                <input type="text" name="correo" value="{{users.correo}}" placeholder="Digite correo" class="form-control" required>
              </div>
              <br>
              <div class="form-group">
                <label> Cedula: </label>
                <input type="number" name="cedula" value="{{users.cedula}}" class="form-control" required>
              </div>
              <br>

              <div class="form-group">
                <label> Turno: </label>
                <input type="text" name="turno" value="{{users.turno}}" class="form-control" required>
              </div>
              <br>
              <div class="form-group">
                <label> Contraseña: </label>
                <input type="password" name="contraseña" value="{{users.contraseña}}" class="form-control" required>
              </div>
              <br>
              
              <div class="submit-container">
                <button class="btn btn-primary btn-block">
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>